body {
    min-height: 2500px;
}


div {
    color: white;
    }
.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.purple {
    background-color: purple;
}

.item {
    min-height: 300px;
}


.img1 {
   background-image: url(../img/image1.jpg);
    background-position: center; 
    background-repeat: no-repeat;
     
}

.img2
{
    background-image: url(../img/image2.jpg);
    background-position: center; 
    background-repeat: no-repeat;
}